<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}

<body>

    {% include topnav.html %}

    <main class="page-content" id="main-content">
        {{ content }}
    </main>

    {% include footer.html %}
    {% include js_files.html %}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const tables = document.querySelectorAll('table');
        tables.forEach(function(table) {
          table.classList.add('table', 'table-striped'); // 为表格添加Bootstrap类
        });
      });
    </script>
</body>

</html>
